<%- partial('../layouts/header') %>
    <div id="wrapper">
        <%- partial('../layouts/sidebar') %>
            <div id="wrapper_primary">
                <!-- content -->
                <div class="rows">
                    <%- partial('../layouts/breadcrumb') %>
                        <%- partial('../layouts/pagination') %>
                </div>
                <div class="rows">
                    <table class="table table-bordered table-striped wrap_data wrap_data_approvals">
                        <thead>
                            <tr>
                                <!-- <th style="text-align:center;width:25px;">
                                    <input type="checkbox" id="1">
                                </th> -->
                                <th style="width:30px;">STT</th>
                                <th>Kanji</th>
                                <th>Hiragana</th>
                                <th>Katakana</th>
                                <th>Romaji</th>
                                <th>Ý nghĩa</th>
                                <th>Người yêu cầu</th>
                                <th>Tình trạng</th>
                                <th style="width:95px;text-align:center;">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody id="data-words">
                            <% var data_words = JSON.parse(data_words_json);
                            if(data_words!=null && data_words.length > 0) {
                            var i = 1;
                            data_words.forEach(function(index){ %>
                                <tr id="<% if (index.id) { %><%= index.id %><% } %>">
                                    <!-- <td style="text-align:center;">
                                        <input type="checkbox" id="<%= index.id %>">
                                    </td> -->
                                    <td style="text-align:center;">
                                        <%= i %>
                                    </td>
                                    <td>
                                        <% if (index.kanji) { %>
                                            <%= index.kanji %>
                                                <% } %>
                                    </td>
                                    <td>
                                        <% if (index.hiragana) { %>
                                            <%= index.hiragana %>
                                                <% } %>
                                    </td>
                                    <td>
                                        <% if (index.katakana) { %>
                                            <%= index.katakana %>
                                                <% } %>
                                    </td>
                                    <td>
                                        <% if (index.romaji) { %>
                                            <%= index.romaji %>
                                                <% } %>
                                    </td>
                                    <td>
                                        <%  var data_means =  index.means;
                                        if(data_means!=null && data_means.length > 0) {
                                            data_means.forEach(function(index_mean){ %>
                                            <p>
                                                <i class="fa fa-star" aria-hidden="true" style="color:#d9534f;"></i>
                                                <span contenteditable="false">
                                                    <% if (index_mean.mean) { %>
                                                        <%= index_mean.mean %>
                                                            <% } %>
                                                </span>
                                                <a href="javascript:void(0)" style="color:#d9534f; text-transform: lowercase;" data-toggle="tooltip" data-placement="right" title="<% if (index_mean.type_word) { %>
                                                    <%= get_type_word(index_mean.type_word) %><% } %>">
                                                    <% if (index_mean.type_word) { %>[<%= index_mean.type_word %>]<% } %>
                                                </a>
                                            </p>
                                            <% })} %>
                                    </td>
                                    <td>
                                            <% if (index.user_created && index.user_created!=null) { %>
                                                <%= index.user_created %>
                                            <% } else { %>
                                                Khách     
                                            <% } %> - <% if (index.user_ip && index.user_ip!=null) { %>
                                                <%= index.user_ip %>
                                            <% } %> (<small><% if (index.created_at && index.created_at!=null) { %>
                                                <%= get_time(index.created_at) %>  
                                            <% } %> </small>)
                                        </td>
                                    <td>
                                        <% if (index.active!=null) {  %>
                                                <% if (index.active==0) { %>
                                                    <span class="label label-danger">Chưa duyệt</span>
                                                <% } else if (index.active==1) {  %>
                                                    <span class="label label-success">Đã duyệt lần 1 bởi <% if (index.user_updated) { %><strong><%= index.user_updated %></strong><% } %></span>
                                                <% } %> 
                                        <% } %>          
                                    </td>
                                    <td style="text-align:center;">
                                        <a href="<%= get_base_url_admin() %>/approval/edit/<%= index.id %>" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top"
                                            title="Xem chi tiết">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                       
                                        <form action="<%= get_base_url_admin() %>/word/delete" method="POST" style="display:inline-block;">
                                            <input type="hidden" value="<%= index.id %>" name="id">
                                            <input type="hidden" name="old_url" value="">
                                            <button type="submit" onClick="return confirm('Bạn chắc chắn ?')" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top"
                                                title="Xóa">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                        
                                    </td>
                                </tr>
                                <% i++; %>
                                    <% })} else { %>

                                        <tr>
                                            <td colspan="9" class="text-center">Chưa có từ mới được góp ý</a></td>
                                        </tr>
                                   <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="rows">
                    <%- partial('../layouts/pagination') %>
                </div>
                <!-- end content -->
            </div>
            <section></section>
            <!-- end section -->

            <script>
                $(window).on('load', function() {
                    $("#s").focus();
                })
            </script>
            <%- partial('../layouts/footer') %>